# Stock price prediction using Neptune AI guide
## Dataset analysis
Data is obtained from March 2022 to March 2023
Train set: 01 March 2022 - 31 Dec 2022
Test set: 1 Jan 2023 - 28 Feb 2023

In [17]:
import requests
import constants as c
import pandas as pd

# Pull data from api endpoint and store in pd dataframe
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=AAPL&outputsize=full&apikey=' + c.ALPHA_APIKEY
r = requests.get(url)
data = r.json()

df = pd.DataFrame.from_dict(data['Time Series (Daily)'], orient='index')

# Remove data before 2022

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2023-03-08,152.81,153.47,151.83,152.87,152.87,47204791,0.0000,1.0
2023-03-07,153.7,154.0299,151.13,151.6,151.6,56182028,0.0000,1.0
2023-03-06,153.785,156.3,153.46,153.83,153.83,87558028,0.0000,1.0
2023-03-03,148.045,151.11,147.33,151.03,151.03,70732297,0.0000,1.0
2023-03-02,144.38,146.71,143.9,145.91,145.91,52279761,0.0000,1.0
...,...,...,...,...,...,...,...,...
1999-11-05,84.62,88.37,84.0,88.31,0.670164934203733,3721500,0.0000,1.0
1999-11-04,82.06,85.37,80.62,83.62,0.634573568090999,3384700,0.0000,1.0
1999-11-03,81.62,83.25,81.0,81.5,0.618485359954753,2932700,0.0000,1.0
1999-11-02,78.0,81.69,77.31,80.25,0.608999388176306,3564600,0.0000,1.0
1999-11-01,80.0,80.69,77.37,77.62,0.589040903554453,2487300,0.0000,1.0